
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="valign-wrapper">
        <h1 class="valign">Submit New Trail</h1>
      </div>
      <hr>


      <form ng-submit="trailsNewCtrl.create()">

          <div class="col m6 file-field input-field">
            <input type="text" placeholder="Enter trail name" ng-model="trailsNewCtrl.trail.trailName">
            <input type="text" placeholder="Enter trail-head address" ng-model="trailsNewCtrl.trail.address">
            <input type="text" placeholder="Trail length" ng-model="trailsNewCtrl.trail.trailLength">
            <input type="text" placeholder="Trail surface" ng-model="trailsNewCtrl.trail.trailSurface">
          </div>
          <div class="col m6 file-field input-field">
            <!-- <input type="text" placeholder="Dogs friendly" ng-model="trailsNewCtrl.trail.dogFriendly"> -->
            <label>
              <input type="radio" ng-model="trailsNewCtrl.trail.dogFriendly" ng-value="false">
              No Dogs
            </label><br/>
            <input type="text" placeholder="Difficulty" ng-model="trailsNewCtrl.trail.difficulty">
            <div class=" file-field input-field">
              <!-- <span>File</span> -->
              <input
                    uploadcare-widget
                    ng-model="trailsNewCtrl.trail.image"
                    data-public-key="34e7159f3dca4612894b"
                    data-tabs="file facebook instagram flickr"
                    data-images-only="true"
                    data-preview-step="true"
                    data-clearable="true"
                    data-multiple="false"
                    data-crop="400:200"
                    on-upload-complete="onUCUploadComplete(info)"
                    on-widget-ready="onUCWidgetReady(widget)"
                    />
                    <input type="submit" value="Create Trail" class="btn waves-effect waves-light right-align">
            </div>
            <br>

            </div>

          </div>
      </form>
    </div>
  </div>
</div>
