
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="valign-wrapper">
        <h1 class="valign">Submit New Trail</h1>
      </div>
      <hr>


      <form ng-submit="trailsNewCtrl.create()">

          <div class="col m6 file-field input-field">
            <input type="text" placeholder="Enter trail name" ng-model="trailsNewCtrl.trail.trailName">
            <input type="text" placeholder="Enter trail-head address" ng-model="trailsNewCtrl.trail.address">
            <input type="text" placeholder="Trail length" ng-model="trailsNewCtrl.trail.trailLength">
            <input type="text" placeholder="Trail surface" ng-model="trailsNewCtrl.trail.trailSurface">
          </div>
          <div class="col m6 file-field input-field">
            <!-- <input type="text" placeholder="Dogs friendly" ng-model="trailsNewCtrl.trail.dogFriendly"> -->
            <label>
              <input type="radio" ng-model="trailsNewCtrl.trail.dogFriendly" ng-value="false">
              No Dogs
            </label><br/>
            <input type="text" placeholder="Difficulty" ng-model="trailsNewCtrl.trail.difficulty">
            <div class=" file-field input-field">
              <!-- <span>File</span> -->
              <input
                    uploadcare-widget
                    ng-model="trailsNewCtrl.trail.image"
                    data-public-key="34e7159f3dca4612894b"
                    data-tabs="file facebook instagram flickr"
                    data-images-only="true"
                    data-preview-step="true"
                    data-clearable="true"
                    data-multiple="false"
                    data-crop="400:200"
                    on-upload-complete="onUCUploadComplete(info)"
                    on-widget-ready="onUCWidgetReady(widget)"
                    />
                    <input type="submit" value="Create Trail" data-target="#modal1" class="btn waves-effect waves-light right-align">
            </div>
            <br>

            </div>

          </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Trigger -->
<div class="col">
    <a class='btn' href='#modal1' modal>Show Modal</a>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Hey, hiker </h4>
      <p>We really appreciate your trail submit to bay trails,<br> give us a couple of days and your trail will be approved
      <br>for our main site!</p>
    </div>
    <div class="modal-footer">
      <a href="/profile" class=" modal-action modal-close waves-effect waves-green btn-flat">Profile</a>
      <a href="/trials" class=" modal-action modal-close waves-effect waves-green btn-flat">Main Page</a>
    </div>
</div>
