<div class="container">
  <div class="col s12 m6 l10">
    <h1>{{trailsShowCtrl.trail.trailName}}</h1>
    <hr>
  </div>
  <div class="scroll-image col s12 m7 l10">
    <div class="row">
      <div class="col s12">
        <div class="card image hoverable">
          <div class="card-image">
            <img class="responsive-img" src="{{trailsShowCtrl.trail.image}}">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <div class="col s3">
                  {{trailsShowCtrl.trail.trailLength}} miles
                </div>
                <div class="col s3">
                  <p ng-hide="!trail.dogFriendly == true">Dogs Allowed </p>
                  <p ng-hide="trail.dogFriendly == true">No Dogs</p>
                </div>
                <div class="col s3">
                  <p>{{trailsShowCtrl.trail.trailSurface}}</p>
                </div>
                <div class="col s3">
                  <p>{{trailsShowCtrl.trail.difficulty}}</p>
                </div>
              </div>
              <div class="col s12">
                <ul>
                  <hr>
                  <li>
                    <strong>Address</strong><br>
                    <p>{{trailsShowCtrl.trail.address}}</p>
                  </li>
                  <hr>
                  <li>
                    <h6><strong>Description</strong></h6><br>
                    <p>{{trailsShowCtrl.trail.description}}</p>
                  </li>
                  <br><hr>
                  <li>
                    <div  class="col s3">
                      <a ng-hide="favorite" ng-click="trailsIndexCtrl.favorite(trail._id); favorite = true" class="btn waves-effect waves-light blue left">Like</a>
                      <a ng-show="favorite" ng-click="trailsIndexCtrl.favorite(trail._id); favorite = false" class="btn waves-effect waves-light yellow left">Liked</a>
                    </div>
                  </li>
                </ul>
                <br>
              </div>
            </div>
          </div>
        </div>
        <a href="/trails" class="brand-logo">Back</a>
      </div>
    </div>
  </div>
</div>
